@font-face {
    font-family: font2;
    src: url(../resources/fonts/tahomabd.ttf);
}
@font-face {
    font-family: font3;
    src: url(../resources/fonts/ChopinScript.ttf);
}
@font-face {
    font-family: font4;
    src: url(../resources/fonts/tahomaregular.ttf);
}
.topTitle {

    padding-top: 125px;
    padding-bottom: 125px;
    font-family: font2;
    font-size: 200%;
    font-style: italic;
    text-align: center;
    color:#9a0104;
    text-decoration: none;
}
.aTitle {
    text-decoration: none;

}
@media (max-width: 767px) {
    .topTitle {
        padding: 70px;
    }
}
html, body {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(254, 215, 176, 1) 0%, rgba(255, 242, 230, 1) 35%);
    color: #9a0104;
    background-size: 100% 100vh;
}

body::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 242, 230, 1);
    z-index: -1;
}
.bLink {
    color: #9a0104;
    font-size: 120%;
}
.bLink:hover {
    font-style: italic;
}

.bLink2 {
    color: #9a0104;
    font-size: 75%;
}
.streamLink {
    color: #9a0104;
    font-size: 90%;
}

.catalogList {
    padding: 10px; 
}
.itemList {
    padding-bottom: 100px;

}
.underTxt {
    font-family: font2;
}
.underTxtLink {
    color: #9a0104;
    font-family: font2;
}
.underTxt2 {
    font-size: 80%;
    font-family: font4;
    font-style: italic;
    padding: 2px;
}
.soldOut {
    color: red;
    font-size: 120%;
}
.available {
    font-size: 120%;
    color: #9a0104;
}