@font-face {
    font-family: font2;
    src: url(../resources/fonts/tahomabd.ttf);
}
@font-face {
    font-family: font3;
    src: url(../resources/fonts/ChopinScript.ttf);
}
@font-face {
    font-family: font4;
    src: url(../resources/fonts/tahomaregular.ttf);
}
.topTitle {

    padding: 125px;
    font-family: font2;
    font-size: 200%;
    font-style: italic;
    text-align: center;
    color:#9a0104;
    text-decoration: none;
}
.aTitle {
    text-decoration: none;

}
@media (max-width: 767px) {
    .topTitle {
        padding: 70px;
    }
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background: rgb(254, 215, 176);
    background: linear-gradient(180deg, rgba(254, 215, 176, 1) 0%, rgba(255, 242, 230, 1) 35%);
    color: #9a0104;

}
.bLink {
    /*font-family: font3;*/
    color: #9a0104;
    font-size: 120%;
}
.catalogList {
    padding: 10px; 
}
.underTxt {
    font-family: font2;
}
.underTxt2 {
    font-family: font4;
    font-style: italic;
    padding: 2px;
}