html {
    background-image: url(../img/background.jpg);

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

i {
    font-style: italic;
}

font[size="-3"] {
    font-size: 70%;
}

a {
    color: blue;
}


/* TOP TITLE CSS */
.topTitle{
    width: auto;
}
.title-wrap{
    display: flex;
    justify-content: center;
}
.title-wrap a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 250%;
    margin: 20px 0px -18px 0px;
    font-weight: 900;
    font-style: italic;
    width: fit-content;
}
/* TITLE SCROLL CSS */
@keyframes scrollRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.scrollText {
    white-space: nowrap;
    overflow: hidden;
    animation: scrollRight 7.5s linear infinite;
    color: blue;
}

.scrollWrap {
    width: 300px;
    overflow: hidden;
    height: 12px;
    border-radius: 5px;
    font-size: 70%;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/* NAV BAR CSS */
.navbar-wrap {
    margin: 0.75em 0em 0.75em 0em;
    display: flex;
    justify-content: center;
}

.navbar {
    color: #151717;
    display: inline-block;
    list-style: none;
    text-align: center;
    word-spacing: 5px;
}

.navbar a {
    color: blue;
    text-decoration: none;
}

/* INDEX MAIN CONTENT CSS */
.content-wrap {
    margin: 4em 2em 0em 2em;
    display: flex;
    justify-content: center;
}

.caption_cs {
    margin: 0px;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans";
    color: blue;
}

.content-wrap2 a {
    color: blue;
    font-size: 110%;
}

.justified {
    display: flex;
    justify-content: center;
}

.linkList{
    font-size: 150%;
    font-style: italic;
    width: 320px;
}
.linkList :hover{
    font-family: "Comic Sans MS", "Comic Sans";

}

/* STORE CSS */
.toggleSwitch {
    text-align: center;
    margin: 4em 0em -2em 0em;
}

.toggleSwitch a {
    text-decoration: none;
    cursor: pointer;
    color: #151717;
    margin: 0;
    font-size: 0.8em;
}

.store-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.store-wrap-2 {
    margin: 2em 0em 0em 0em;
    display: flex;
    justify-content: center;
}

.store-item,
.store-item-unavailable {
    width: 100%;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    overflow: hidden;
}
.store-item.unavailable {
    display: none;
}

.store-item img {
    max-width: 100%;
    height: auto;
}

.store-item-title {
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #151717;
}

.store-item-desc {
    font-size: 0.8rem;
    font-style: italic;
    color: #151717;
}

.store-item-desc-2 {
    font-size: 0.6rem;
    color: #151717;
    margin-top: 0em;
}

.store-item a,
.store-item-unavailable a {
    color: blue;
    font-size: 110%;
}

.store-item a:hover,
.store-item-unavailable a:hover {
    font-style: italic;
}

/* ARCHIVE CSS */
.postLink {
    font-size: 100%;
}
.postLink a {
    font-size: 95%;
    font-style: italic;
    margin: 0px 5px 0px 5px;
    white-space: nowrap;
    flex: 1;
    text-align: center;
    color: blue;
    text-decoration-line: underline;
    text-decoration-thickness: 0px;
}
.archiveWrap{
    margin: 2em 0em 1em 0em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.archiveTitle{
    text-align: center;
    font-size: 120%;
    color: blue;
    margin-bottom: 0.25em;
    font-weight: bold;
}
.downloadsBox{
    font-size: 95%;
    width: 300px;
}
.downloadsList a{
    text-decoration-line: underline;
    text-decoration-thickness: 0px;
}
.downloadsList span{
    float: right;
    color: blue;
}

/* BOTTOM FOOTER*/
.bottomFooter {
    position: relative;
    width: 90%;
    margin: 100px 5% 0% 5%;
    text-align: center;
    color: #151717;
}

.bottomFooterReal a {
    color: blue;
}

.bottomFooterReal {
    margin-bottom: 50px
}

.social_media_icons {
    display: flex;
    justify-content: center;
}


/* TEAM LIST */
.teamListContainer {
    display: flex;
    justify-content: center;
}

.teamList {
    text-align: center;
    margin-top: 20px;
}

.teamList ul {
    list-style: none;
    padding: 0;
}

.teamList li {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
    color: blue;
}

.teamList img {
    width: 25px;
    margin-right: 5px;
}