a:hover {
    /* font-weight: bold; */
    font-family: "font1";
}
.portal:hover {
    font-family: "font1";
}
body {
    background-color: rgb(#FAF9F6);
}
@font-face {
    font-family: font1;
    src: url(../resources/STYLEWARS\ 2011.ttf);
}
@font-face {
    font-family: font2_1;
    src: url(../salem-records/resources/fonts/ChopinScript.ttf);
}