a:hover {
    /* font-weight: bold; */
    font-family: "font1";
}
.portal:hover {
    font-family: "font1";
}
.gif1 {
    position: fixed;

}

html, body {
    background-color: rgb(#FAF9F6);
    padding: 25px;
    padding-bottom: 100px;
}
@font-face {
    font-family: font1;
    src: url(../resources/STYLEWARS\ 2011.ttf);
}
@font-face {
    font-family: font2_1;
    src: url(../salem-records/resources/fonts/ChopinScript.ttf);
}